.registerProject {
    padding: 0 4rem;
    height: calc(100vh - 15rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .buttonHeadbar {
        width: 100%;
        margin-top: 0.5rem;
        margin-right: auto;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            margin-left: 0.5rem;
        }
    }

    form {
        width: 40%;

        h1 {
            margin-bottom: 1.5rem;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            .autocomplete {
                display: flex;
                justify-content: center;
                flex-direction: row;
                margin-bottom: 1rem;
                width: 100%;
            }

            .field {
                justify-content: center;
                flex-direction: row;
                margin-bottom: 1rem;

                .textField {
                    div {
                        div {
                            top: 0;
                        }
                    }
                }

                label {
                    margin-left: 0.25rem;
                }

                button {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    Button {
        margin-top: 1rem;
    }
}

.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto !important;

    h2 {
        display: flex;
        justify-content: center;
    }

    .dataList {
        align-self: center;
        color: #000;

        margin-bottom: 1rem;
        margin-top: 1.25rem;
        margin-left: 3rem;
        margin-right: 3rem;

        div {
            margin-bottom: 1rem;
        }
    }
}
