.wizardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    .stepperWrapper{
        width: 50%;
        border-radius: 5rem;
        margin-top: 2.5rem;
    }

    form{
        margin-top: 2rem;
        width: 40%;

        fieldset {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            h3, h4 {
                margin-bottom: 1rem;
                margin-left: 0.3rem;
            }
    
            .field {
                margin-bottom: 1rem;
                display: block;
                width: 100%;
    
                label {
                    margin-left: 0.3rem;
                }
            }
        }

        .buttonWrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 1rem;
        }
    }
}