.registerCriteria {
    padding: 0 4rem;
    height: calc(100vh - 15rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    form {
        h1 {
            margin-top: 3rem;
            margin-bottom: 1.5rem;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            .field {
                margin-bottom: 1rem;
                display: block;
                width: 100%;

                label {
                    margin-left: 0.3rem;
                }
            }
        }
    }

    Button {
        margin-top: 1rem;
    }
}
